<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.MainMapper">
	
	<select id="getadmin" parameterType="string" resultType="adminVO">
		SELECT * FROM ADMIN WHERE ID=#{id}
	</select>
	<select id="getcustcnt" resultType="int">
		SELECT count(*) FROM CUST
	</select>
	<select id="getproductcnt" resultType="int">
		SELECT count(*) FROM PRODUCT
	</select>
	<select id="getcatecnt" resultType="int">
		SELECT count(*) FROM CATE
	</select>
	<select id="getcartcnt" resultType="int">
		SELECT count(*) FROM CART
	</select>
	<select id="searchproduct" parameterType="string" resultType="productVO">
		SELECT p.id as id, p.name as name, p.price, p.regdate, p.cid as cid,
		p.imgname as imgname, c.name as catename FROM product p
		INNER JOIN cate c ON p.cid = c.id
		WHERE p.name LIKE CONCAT('%',#{txt},'%')
	</select>
</mapper>






